
h1{
    text-align: center;

}
h2{
    text-align: center;
}

div{
    font-family: cursive;
}
body{
    background-color: rgb(215, 150, 215);
    border-color: rgb(217, 150, 228);
    

}


header{
    background-color: rgb(233, 43, 192);
}
