@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

body {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    font-weight: 800;
}

.img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 480px;
    background:  linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) ;
    background: url("img/shutterstock_348320018.png")no-repeat center center/cover ;




}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login {
    
    position: relative;
    left: 500px;
    top: 22px;
    text-align: left;

    
}

.login a {
    text-decoration: none;
    color: #fff;
    margin-right: 12px;
    font-weight: 800;


}

.login span {
    border: 1px solid;
    
    padding: 3px 12px;
    color: #fff;
    font-weight: 800;

}

.logo {
    position: relative;
    top: 105px;
}

.logo a {

    text-decoration: none;
    color: #e62222;
    /* border: 1px solid; */
    border-radius: 50%;
    padding: 15px 28px;

    background: #fff;
    font-size: 60px;
    font-weight: bolder;


}

.searchbar {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: 800;

}
.searchbar h2{
    font-weight: 800;
}

#location{
    top: 339px;
left: 312px;
width: 245px;
height: 60px;
font-weight: 800;
}
#Restro{
    top: 339px;
left: 578px;
width: 477px;
height: 60px;
font-weight: 800;
}


.item-container {
    position: relative;
    top: 480px;
    margin: 0 113px 0 113px;
    font-weight: 800;

}

.item-container .q-search h2 {
    font: normal normal bold 30px/46px Poppins;
    color: #192F60;
    position: relative;
    font-weight: 800;
    


}

.item-container .q-search p {
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    font-weight: 800;
}

.list-items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    margin: 0px;
    
}

.container {
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 1px 3px 7px 0px #00000029;
    font-weight: 800;

}

.container img {
    /* text-align: left; */
    align-items: left;
    margin: 0px;

    width: 47%;

}

.container h3 {
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    font-weight: 800;
}

.container p {
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    
}



