@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
   



}

body {
    background-color: #FBFBFB;
}



.img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 480px;
    background: url("img/shutterstock_348320018.png")no-repeat center center/cover;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.login {
    /* position: fixed; */
    position: relative;
    /* right: 2px; */
    left: 500px;


}

.login a {
    text-decoration: none;
    color: #455576;
    margin-right: 12px;

}

.login span {
    border: 1px solid;
    border-radius: 12px;
    padding: 3px 12px;
}

.logo {
    position: relative;
    top: 105px;
}

.logo a {

    text-decoration: none;
    color: #e62222;
    /* border: 1px solid; */
    border-radius: 50%;
    padding: 15px 28px;

    background: #fff;
    font-size: 60px;
    font-weight: bolder;


}

.searchbar {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;


}

.item-container {
    position: relative;
    top: 480px;
    margin: 0 113px 0 113px;

}

.list-items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 1px 3px 7px 0px #00000029;
    /* width: 100px; */
    margin: 0px;

}

.container img {
    /* margin-left: 0; */
    /* margin-right: 15px; */
    width: 45%;

}